@import "@/Styles/Core/vars.scss";

.header {
  background-color: $--header-color;
  height: 150px;
}

.header__navigation {
  padding: 30px 25px;
  .a {
    color: $--header-text-color !important;
  }
  .header__links {
    a {
      color: $--header-text-color;
      text-decoration: none;
    }
  }
}

